@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');


body {
    font-family: 'Open Sans', sans-serif;
    color: #7f8c8d;
    background-image: url("data/cool-background.png");
    /* background-color: #DACFBC; */
    margin-top: 2em;
}

h1, h2, h3 {
    font-family: 'Slabo 27px', serif;
}

#navbar > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
}

#navbar > ul > li {
    margin: 0 2em;
    display: inline-block;
    float: right;
    border-bottom: solid #7f8c8d 2px;
}

#navbar > ul > li:hover > a {
  color: purple;
}

#navbar > ul > li :: before {
  /* content: "!"; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
}

.nav-link {
    width: 100%;
    height: 100%;
    margin: 0;
    text-decoration: none;
}

#signIn > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
}

#signIn > ul > li {
    margin: 0 2em;
    float: center;
    border-bottom: solid #7f8c8d 2px;
}

#signIn > ul > li:hover > a {
  color: purple;
}

#signIn > ul > li :: before {
  content: "!";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
}

.signIn-link {
    width: 100%;
    height: 100%;
    margin: 0;
    text-decoration: none;
}

a {
    color: #7f8c8d;
}

img {
    border-radius: 50%;
}

th, td {
  text-align: center;
}

table {
  border-spacing: 50px 0;
}

td {
  padding: 10px 0;
}

#intro {
    font-size: 4em;
}

#about {
    text-align: center;
}

#fancy {
    color: #E89B1E;
}

.our_hack {
  font-weight: bold;
}
